/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

/* Custom Fonts 
@font-face {
	font-family: 'PTSans';
	src: url('../fonts/PT-Sans/PT-Sans.eot');
    src: url('../fonts/PT-Sans/PT-Sans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PT-Sans/PT-Sans.woff') format('woff'),
         url('../fonts/PT-Sans/PT-Sans.ttf') format('truetype'),
         url('../fonts/PT-Sans/PT-Sans.svg#pt_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('../fonts/PT-Sans/PT-Sans-Bold.eot');
    src: url('../fonts/PT-Sans/PPT-Sans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PT-Sans/PT-Sans-Bold.woff') format('woff'),
         url('../fonts/PT-Sans/PT-Sans-Bold.ttf') format('truetype'),
         url('../fonts/PT-Sans/PT-Sans-Bold.svg#pt_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('../fonts/PT-Sans/PT-Sans-Italic.eot');
    src: url('../fonts/PT-Sans/PPT-Sans-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PT-Sans/PT-Sans-Italic.woff') format('woff'),
         url('../fonts/PT-Sans/PT-Sans-Italic.ttf') format('truetype'),
         url('../fonts/PT-Sans/PT-Sans-Italic.svg#pt_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PTSans';
	src: url('../fonts/PT-Sans/PT-Sans-BoldItalic.eot');
    src: url('../fonts/PT-Sans/PPT-Sans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PT-Sans/PT-Sans-BoldItalic.woff') format('woff'),
         url('../fonts/PT-Sans/PT-Sans-BoldItalic.ttf') format('truetype'),
         url('../fonts/PT-Sans/PT-Sans-BoldItalic.svg#pt_sansbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}

 End Custom Fonts */

body {
  font-family: 'PTSans', Arial, sans-serif;
    color: #333;
    scroll-behavior: smooth;
  }

img {
    max-width: 100%;
    height: auto;
  }

* {
    box-sizing: border-box;
  }

.row::after {
      content: "";
      clear: both;
      display: table;
    }

.row--gutters {
    margin-right: -65px;
  }

.row--gutters-large {
    margin-right: -100px;
  }

.row--gutters-small {
    margin-right: -45px;
  }

.row--gutters > div {
    padding-right: 65px;
  }

.row--gutters-large > div {
    padding-right: 100px;
  }

.row--gutters-small > div {
    padding-right: 45px;
  }

.row__col-4 {
    float: left;
    width: 33.33%;
  }

.row__col-4--larger {
    width: 37%;
  }

.row__col-6 {
    float: left;
    width: 50%;
  }

.row__col-8 {
    float: left;
    width: 63%;
  }

.row__col-8--smaller {
    width: 63%;
  }

@media (max-width: 800px) {

.row__col-med-12 {
      width: 100%
  }
    }

.site-banner{
    background: url(local_image/clouds.jpg) no-repeat right center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom:150px;

}

.site-banner__search-box {
      max-width: 600px;
      margin: 0 auto;
      color: #FFF;
      background-color: rgba(0, 0, 0, .45);
      padding: 30px;
      border-radius: 15px;
      text-align: center;
    }

@media (max-width: 800px) {

.site-banner__search-box {
        margin: 0 auto;
        padding: 10px
    }
    }

.site-banner__input {
      width: 420px;
      padding: 0 12px;
      margin: 0;
      height: 40px;
      box-sizing: border-box;
      border: none;
      border-radius: 10px 0px 0px 10px;
      outline: none;
    }

@media (max-width: 800px) {

.site-banner__input {
        border-radius: 10px 10px 10px 10px;
        width: 90%;
        padding: 0 12px;
        display: block;
        margin: 0 auto;
        outline: none
    }
    }

.site-banner__input-submit {
      width: 80px;
      padding: 0;
      margin: 0;
      border: none;
      background-color: darkgreen;
      color: #FFF;
      font-weight: bold;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, .7);
      height: 40px;
      border-radius: 0 10px 10px 0;
      outline: none;
    }

@media (max-width: 800px) {

.site-banner__input-submit {
        border-radius: 10px 10px 10px 10px;
        width: 30vw;
        display: block;
        margin: 2px auto;
        outline: none
    }
    }

.site-header{
    background-color: rgb(40, 40, 40);
    width: 100%;
    border-bottom: 3px solid rgba(255, 255, 255,1);
    margin-bottom: 0;
}

.site-header__logo{
        font-weight: 600;
        font-size: 2.4rem;
        font-style: italic;
        color: white;
        padding: 15px 0;
        display: inline-block;
    }

.site-header__btn-container {
        float: right;
        padding: 15px 0;
      }

.site-header__btn-container a{
            text-decoration: none;
            display: inline-block;
        }

.site-header__menu-icon {
        cursor: pointer;
        display: none;
        float: right;
        display: inline-block;
      }

@media (max-width: 580px) {

.site-header__menu-icon {
          width: 30px;  
          height: 19px;
          top: 30px;
          display: inline-block;
          position: relative;
          z-index: 10
      }
    
        .site-header__menu-icon::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: 3px;
          background-color: #FFF;
          transform-origin: 0 0;
          transition: transform .3s ease-out;
        }
    
        .site-header__menu-icon__middle {
          position: absolute;
          top: 8px;
          left: 0;
          width: 30px;
          height: 3px;
          background-color: #FFF;
          transition: all .3s ease-out;
          transform-origin: 0 50%;
        }
    
        .site-header__menu-icon::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 30px;
          height: 3px;
          background-color: #FFF;
          transform-origin: 0 100%;
          transition: transform .3s ease-out;
        }
    }

.site-header__menu-icon--close-x::before {
          transform: rotate(45deg) scaleX(1.25);
        }

.site-header__menu-icon--close-x .site-header__menu-icon__middle {
          opacity: 0;
          transform: scaleX(0);
        }

.site-header__menu-icon--close-x::after {
          transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }

.site-header__menu-content {
        float: right;
        display: inline-block;
        opacity: 1;
        z-index: 1;
        padding-top: 0;
        transition: all .3s ease-out;
        text-align: center;
      }

@media (max-width: 580px) {

.site-header__menu-content {
          z-index: -10;
          opacity: 0
      }
    }

.site-header__menu-content--is-visible {
          opacity: 1;
          z-index: 1;
          transform: scale(1);
        }

.jobPost{
    padding-top: 10px;
    margin-top: 15px; 
    margin-bottom: 20px;
    
}

.jobPost__section{
        background-color: white;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom : 0;

        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 8px 12px;
        border-radius: 3px;

        border-collapse: collapse;
    }

.jobPost__section:hover{
            background-color: rgba(240,50,75,0.02);
            cursor: pointer;
        }

.jobPost__section a{
            text-decoration: none;
            color: black;
        }

.jobPost__jobname{
        float: left;
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 1.9rem;

        margin-top: 0;
        margin-bottom: 0;
    }

@media (max-width: 800px) {

.jobPost__jobname{
            float: none;
            max-width: 100%
    }
    }

.jobPost__duration{
        padding: 4px 6px;
        background-color: black;
        color: white;
        margin-left: 4px;
        font-size: 0.8rem;
        display: inline-block;
        font-style: italic;
    }

.jobPost__companyname{
        margin-top: 3px;
        margin-bottom: 2px;
    }

.jobPost__time{
        margin-top: 1px;
        float: right;
        display: inline-block;
    }

@media (max-width: 800px) {

.jobPost__time{
        display: none
    }
    }

.footer{
    width: 100%;
    background-color: rgb(40, 40, 40);
    color: white;
    margin: 0;
    padding: 0;
}

.footer__text{
        padding: 25px;
        margin: 0;
    }

.btn{
    padding: 10px 15px;
    background-color: blue;
    color: #FFF;
    font-weight: 300;
    color: white;
    font-size: 1.2rem;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    
}

@media (max-width: 800px) {

.btn--display-none-medium{
            display: none
    }
    }

.btn--backblack{
        background-color: rgba(200, 200, 200,0.2);
    }

.btn--blackstrip{
        background-color: rgba(100, 100, 100,0.5);
    }

.btn--green{
        background-color: green;
    }

.btn--large{
        padding: 18px 15px;
        text-decoration: none;
    }

.btn__black{
        text-align: center;
        background-color: black;
        color: white;
        padding: 8px 5px;
        margin: 8px 3px;
        display: inline-block;
    }

.btn:hover{
    box-shadow: 1px 0.5px 2px rgba(0, 0, 0, 0);
}

.wrapper{
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper--topmargin{
    	margin-top: 30px;
    }

.wrapper--small{
    	max-width: 1080px;
    }

.wrapper--smaller{
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
    }

.primary-nav--pull-right {
      float: right;
    }

.primary-nav ul {
      margin: 0;
      padding: 0;
    }

.primary-nav ul::after {
      content: "";
      clear: both;
      display: table;
    }

.primary-nav li {
      list-style: none;
      float: left;
      padding-right: 30px;
    }

.primary-nav a {
      color: #FFF;
      font-weight: 300;
      color: white;
      font-size: 1.2rem;
      text-decoration: none;
      display: block;
      padding: 25px 0;
    }

.postfield{
    margin-top: 15px;
    margin-bottom: 15px;
}

.postfield__input{
      width: 100%;
      display: block;
      padding: 15px 10px;
      margin-bottom: 15px;
      border: 1px solid #cdcdcd;
      outline: none;
      border-radius: 3px;
    }

.postfield__maintitle{
      background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
      padding: 10px 10px;
      color: white;
    }

.postfield__submit{
      display: block;
      background-color: #869960;
      color: #fff;
      padding: 10px 20px;
      border: 1px solid #798a56;
      border-radius: 3px;
      outline: none;
      margin-bottom: 10px;
      cursor: pointer;
    }

.postfield--small{
      max-width: 30%;
    }

.postfield__textarea{
      width: 100%;
      height: 200px;

      padding: 15px 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }

.postfield--gap{
      margin-top: 15px;
      margin-bottom: 15px;
    }

.container{
    width: 520px;
    margin: 10px auto;
  }

.hidden-label {
    display: none;
  }

.headline{
    font-size: 2.8rem;
    font-weight: bold;
}

.headline--big{
        margin-top: 20px;
        font-size: 2.5rem;
        font-weight: bold;
    }

.headline--basic{
        margin-top: 15px; 
        font-size: 1.7rem;
        font-weight: 400;
    }

.headline--basicsmall{
        margin-top: 8px; 
        font-size: 1.4rem;
        font-weight: 300;
    }

.headline--basicsmaller{
        margin: 5px 0; 
        font-size: 1.1rem;
        font-weight: 300;
    }

.headline--grey{
        color: grey;
    }

.headline__banner{
        font-size: 4vw;
        text-align: center;
        color: white;
        font-weight: bold;
        padding: 0;
        margin: 10px 0;
    }

@media (max-width: 1010px) {

.headline__banner{
            font-size: 5vw
    }
    }

@media (max-width: 800px) {

.headline__banner{
            font-size: 7vw
    }
    }

@media (max-width: 580px) {

.headline__banner{
            font-size: 11vw
    }
    }

.headline--title{
        margin: 5px 0;
        padding: 0;
        font-size: 2.5rem;
        font-weight: 550;
    }

.headline--subtitle{
        margin: 0;
        padding: 0;
        font-size: 2rem;
        font-weight: 500;
    }

.headline--center{
        text-align: center;
    }

.headline--white{
        color: white;
    }

.headline--lightbold{
        font-size: 1.5rem;
        font-weight: 300;
    }

.headline--shadow{
        text-shadow: 2px 3px 4px rgba(0,0,0,0.25);
    }

.headline--shadowsmall{
        text-shadow: 1px 2px 3px rgba(0,0,0,0.15);
    }

.headline--shadowsmaller{
        text-shadow: 1px 1px 1px rgba(0,0,0,0.08);
    }

.headline--mainposttitle{
        color: purple;
        font-size: 1.6rem;
        letter-spacing: 4px;
        
    }

.jobdescription{
	margin: 0;
	padding: 0;
}

.jobdescription__banner{
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: white;
		color: black;
	}

.jobdescription__content{
		word-spacing: 1px;
	}

.jobdescription__apply button{
		background-color: green;
		border-radius: 3px;
		border: none;
	    color: white;
	    padding: 15px 10px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    margin: 4px 2px;
	    cursor: pointer;
	}

.jobdescription--main{
		display: inline-block;
		margin-top: 15px;
		margin-right: 15px; 
	}

.jobdescription--main:hover{
			color:black;
		}

/* Customize Login Screen */

body.login .button-primary {
  background-color: rgba(54, 34, 67,1);
  border-color: rgb(38, 33, 41);
  text-shadow: 0 -1px 1px rgb(33, 33, 33),1px 0 1px rgb(33, 33, 33),0 1px 1px rgb(33, 33, 33),-1px 0 1px rgb(33, 33, 33);
  box-shadow: 0 1px 0 rgb(31, 31, 31);
}

body.login .button-primary:hover,
body.login .button-primary:active,
body.login .button-primary:focus {
  background-color: rgb(42, 33, 48);
  border-color: rgb(33, 33, 33);
  text-shadow: 0 -1px 1px rgb(31, 31, 31),1px 0 1px rgb(31, 31, 31),0 1px 1px rgb(31, 31, 31),-1px 0 1px rgb(31, 31, 31);
  box-shadow: 0 1px 0 rgb(30, 30, 30);
}

body.login {
  background-color: black;
}

.login h1 a {
  color: blue;
  font-size: 30px;
  font-weight: 300;
  background-image: none;
  width: auto;
  height: auto;
  text-indent: 0;
}



