.btn{
    padding: 10px 15px;
    background-color: blue;
    color: #FFF;
    font-weight: 300;
    color: white;
    font-size: 1.2rem;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    &--display-none-medium{
        @mixin atMedium{
            display: none;
        }
    }
    &--backblack{
        background-color: $backblack;
    }

    &--blackstrip{
        background-color: $blackstrip;
    }

    &--green{
        background-color: green;
    }
    &--large{
        padding: 18px 15px;
        text-decoration: none;
    }
    &__black{
        text-align: center;
        background-color: black;
        color: white;
        padding: 8px 5px;
        margin: 8px 3px;
        display: inline-block;
    }
    
}
.btn:hover{
    box-shadow: 1px 0.5px 2px rgba(0, 0, 0, 0);
}