.headline{
    font-size: 2.8rem;
    font-weight: bold;
    &--big{
        margin-top: 20px;
        font-size: 2.5rem;
        font-weight: bold;
    }
    &--basic{
        margin-top: 15px; 
        font-size: 1.7rem;
        font-weight: 400;
    }
    &--basicsmall{
        margin-top: 8px; 
        font-size: 1.4rem;
        font-weight: 300;
    }
    &--basicsmaller{
        margin: 5px 0; 
        font-size: 1.1rem;
        font-weight: 300;
    }
    &--grey{
        color: grey;
    }
    &__banner{
        font-size: 4vw;
        text-align: center;
        color: white;
        font-weight: bold;
        padding: 0;
        margin: 10px 0;
        @mixin atLarge{
            font-size: 5vw;
        }
        @mixin atMedium{
            font-size: 7vw;
        }
        @mixin atSmall{
            font-size: 11vw;
        }
    }

    &--title{
        margin: 5px 0;
        padding: 0;
        font-size: 2.5rem;
        font-weight: 550;
    }
    &--subtitle{
        margin: 0;
        padding: 0;
        font-size: 2rem;
        font-weight: 500;
    }

    &--center{
        text-align: center;
    }
    &--white{
        color: white;
    }
    &--lightbold{
        font-size: 1.5rem;
        font-weight: 300;
    }

    &--shadow{
        text-shadow: 2px 3px 4px rgba(0,0,0,0.25);
    }
    &--shadowsmall{
        text-shadow: 1px 2px 3px rgba(0,0,0,0.15);
    }
    &--shadowsmaller{
        text-shadow: 1px 1px 1px rgba(0,0,0,0.08);
    }
    &--mainposttitle{
        color: purple;
        font-size: 1.6rem;
        letter-spacing: 4px;
        
    }
}