.jobPost{
    padding-top: 10px;
    margin-top: 15px; 
    margin-bottom: 20px;


    &__section{
        background-color: white;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom : 0;

        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 8px 12px;
        border-radius: 3px;

        border-collapse: collapse;
        &:hover{
            background-color: rgba(240,50,75,0.02);
            cursor: pointer;
        }
        a{
            text-decoration: none;
            color: black;
        }
    }
    

    &__jobname{
        float: left;
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 1.9rem;

        margin-top: 0;
        margin-bottom: 0;

        @mixin atMedium{
            float: none;
            max-width: 100%;
        }
    }

    &__duration{
        padding: 4px 6px;
        background-color: black;
        color: white;
        margin-left: 4px;
        font-size: 0.8rem;
        display: inline-block;
        font-style: italic;
    }
    
    &__companyname{
        margin-top: 3px;
        margin-bottom: 2px;
    }
    &__time{
        margin-top: 1px;
        float: right;
        display: inline-block;
        @mixin atMedium{
        display: none;
    }
    }
    
}