.jobdescription{
	margin: 0;
	padding: 0;
	&__banner{
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: white;
		color: black;
	}
	&__content{
		word-spacing: 1px;
	}
	&__apply button{
		background-color: green;
		border-radius: 3px;
		border: none;
	    color: white;
	    padding: 15px 10px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    margin: 4px 2px;
	    cursor: pointer;
	}
	&--main{
		display: inline-block;
		margin-top: 15px;
		margin-right: 15px;
		&:hover{
			color:black;
		} 
	}
}