.postfield{
    margin-top: 15px;
    margin-bottom: 15px;

    &__input{
      width: 100%;
      display: block;
      padding: 15px 10px;
      margin-bottom: 15px;
      border: 1px solid #cdcdcd;
      outline: none;
      border-radius: 3px;
    }
    &__maintitle{
      background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
      padding: 10px 10px;
      color: white;
    }
    &__submit{
      display: block;
      background-color: #869960;
      color: #fff;
      padding: 10px 20px;
      border: 1px solid #798a56;
      border-radius: 3px;
      outline: none;
      margin-bottom: 10px;
      cursor: pointer;
    }
    &--small{
      max-width: 30%;
    }
    &__textarea{
      width: 100%;
      height: 200px;

      padding: 15px 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }
    &--gap{
      margin-top: 15px;
      margin-bottom: 15px;
    }
}


  .container{
    width: 520px;
    margin: 10px auto;
  }
  .hidden-label {
    display: none;
  }
  
 