.primary-nav {


    &--pull-right {
      float: right;
    }
  
    ul {
      margin: 0;
      padding: 0;
      @mixin clearfix;
    }
  
    li {
      list-style: none;
      float: left;
      padding-right: 30px;
    }
  
    a {
      color: #FFF;
      font-weight: 300;
      color: white;
      font-size: 1.2rem;
      text-decoration: none;
      display: block;
      padding: 25px 0;
    }
  }