.row {

  @mixin clearfix;

  &--gutters {
    margin-right: -65px;
  }

  &--gutters-large {
    margin-right: -100px;
  }

  &--gutters-small {
    margin-right: -45px;
  }

  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters-large > div {
    padding-right: 100px;
  }

  &--gutters-small > div {
    padding-right: 45px;
  }
  
  &__col-4 {
    float: left;
    width: 33.33%;
  }

  &__col-4--larger {
    width: 37%;
  }

  &__col-6 {
    float: left;
    width: 50%;
  }

  &__col-8 {
    float: left;
    width: 63%;
  }

  &__col-8--smaller {
    width: 63%;
  }

  &__col-med-12 {
    @mixin atMedium {
      width: 100%;
    }
  }

}