.site-banner{
    background: url(local_image/clouds.jpg) no-repeat right center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom:150px;
    &__search-box {
      max-width: 600px;
      margin: 0 auto;
      color: #FFF;
      background-color: rgba(0, 0, 0, .45);
      padding: 30px;
      border-radius: 15px;
      text-align: center;
      @mixin atMedium{
        margin: 0 auto;
        padding: 10px;
      }
    }
      &__input {
      width: 420px;
      padding: 0 12px;
      margin: 0;
      height: 40px;
      box-sizing: border-box;
      border: none;
      border-radius: 10px 0px 0px 10px;
      outline: none;
      @mixin atMedium{
        border-radius: 10px 10px 10px 10px;
        width: 90%;
        padding: 0 12px;
        display: block;
        margin: 0 auto;
        outline: none;
      }
    }
    &__input-submit {
      width: 80px;
      padding: 0;
      margin: 0;
      border: none;
      background-color: darkgreen;
      color: #FFF;
      font-weight: bold;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, .7);
      height: 40px;
      border-radius: 0 10px 10px 0;
      outline: none;
      @mixin atMedium{
        border-radius: 10px 10px 10px 10px;
        width: 30vw;
        display: block;
        margin: 2px auto;
        outline: none;
      }
    }

}
 


