.site-header{
    background-color: $whiteblack;
    width: 100%;
    border-bottom: 3px solid $mosiq;
    margin-bottom: 0;
    
    &__logo{
        font-weight: 600;
        font-size: 2.4rem;
        font-style: italic;
        color: white;
        padding: 15px 0;
        display: inline-block;
    }
    &__btn-container {
        float: right;
        padding: 15px 0;
        a{
            text-decoration: none;
            display: inline-block;
        }
      }
      &__menu-icon {
        cursor: pointer;
        display: none;
        float: right;
        display: inline-block;
        @mixin atSmall {
          width: 30px;  
          height: 19px;
          top: 30px;
          display: inline-block;
          position: relative;
          z-index: 10;
    
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: 3px;
          background-color: #FFF;
          transform-origin: 0 0;
          transition: transform .3s ease-out;
        }
    
        &__middle {
          position: absolute;
          top: 8px;
          left: 0;
          width: 30px;
          height: 3px;
          background-color: #FFF;
          transition: all .3s ease-out;
          transform-origin: 0 50%;
        }
    
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 30px;
          height: 3px;
          background-color: #FFF;
          transform-origin: 0 100%;
          transition: transform .3s ease-out;
        }
        }
      }
    
      &__menu-icon--close-x {
        &::before {
          transform: rotate(45deg) scaleX(1.25);
        }
    
        .site-header__menu-icon__middle {
          opacity: 0;
          transform: scaleX(0);
        }
    
        &::after {
          transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
      }
    
      &__menu-content {
        float: right;
        display: inline-block;
        opacity: 1;
        z-index: 1;
        padding-top: 0;
        transition: all .3s ease-out;
        text-align: center;


        @mixin atSmall {
          z-index: -10;
          opacity: 0;
        }
    
        &--is-visible {
          opacity: 1;
          z-index: 1;
          transform: scale(1);
        }
      }
}