.wrapper{
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
    &--topmargin{
    	margin-top: 30px;
    }
    &--small{
    	max-width: 1080px;
    }
    &--smaller{
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
    }
}