/* Custom Fonts 
@font-face {
	font-family: 'PTSans';
	src: url('../fonts/PT-Sans/PT-Sans.eot');
    src: url('../fonts/PT-Sans/PT-Sans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PT-Sans/PT-Sans.woff') format('woff'),
         url('../fonts/PT-Sans/PT-Sans.ttf') format('truetype'),
         url('../fonts/PT-Sans/PT-Sans.svg#pt_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('../fonts/PT-Sans/PT-Sans-Bold.eot');
    src: url('../fonts/PT-Sans/PPT-Sans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PT-Sans/PT-Sans-Bold.woff') format('woff'),
         url('../fonts/PT-Sans/PT-Sans-Bold.ttf') format('truetype'),
         url('../fonts/PT-Sans/PT-Sans-Bold.svg#pt_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('../fonts/PT-Sans/PT-Sans-Italic.eot');
    src: url('../fonts/PT-Sans/PPT-Sans-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PT-Sans/PT-Sans-Italic.woff') format('woff'),
         url('../fonts/PT-Sans/PT-Sans-Italic.ttf') format('truetype'),
         url('../fonts/PT-Sans/PT-Sans-Italic.svg#pt_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PTSans';
	src: url('../fonts/PT-Sans/PT-Sans-BoldItalic.eot');
    src: url('../fonts/PT-Sans/PPT-Sans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PT-Sans/PT-Sans-BoldItalic.woff') format('woff'),
         url('../fonts/PT-Sans/PT-Sans-BoldItalic.ttf') format('truetype'),
         url('../fonts/PT-Sans/PT-Sans-BoldItalic.svg#pt_sansbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}

 End Custom Fonts */