@define-mixin atSmall {
    @media (max-width: 580px) {
      @mixin-content;
    }
  }
  
  @define-mixin atMedium {
    @media (max-width: 800px) {
      @mixin-content;
    }
  }
  
  @define-mixin atLarge {
    @media (max-width: 1010px) {
      @mixin-content;
    }
  }
  
  @define-mixin clearfix {
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }