$whiteblack: rgb(40, 40, 40);

$backblack: rgba(200, 200, 200,0.2);

$blackstrip: rgba(100, 100, 100,0.5);

$mosiq: rgba(255, 255, 255,1);

$darkOrange: rgba(54, 34, 67,1);

$beige: black;

$mainBlue: blue;